@import '../styles/variables';

.Header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 $spacing-base;
  margin: $spacing-s 0;
  color: $color-main;
  background-color: $color-background-primary;
  &__Logo {
    text-transform: lowercase;
    font-size: $font-size-l;
    font-family: $font-family-monospace;
    color: $color-hightlight;
  }

  &__AppTitle {
    font-style: small-caps;
    font-size: $font-size-l;
    letter-spacing: $font-size-l / 3;
  }
}
